/* project initiation  */
.error {
    color: red;
    display: none; /* Hide the error message initially */
}
.slide { 
    display: none; 
}
.slide.active { 
    display: block; 
}

/* button tag  */

.btn_custom {
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.btn_custom:hover {
    background-color: #0056b3; /* Darker blue on hover */
}